@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --primary: 326, 27%, 50%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 83, 37%, 63%;

    --accent: 24 66% 58%;

    --destructive: 54, 23%, 67%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground flex flex-col items-center;
  }
  canvas {
    @apply !max-h-screen;
  }
  .content {
    @apply flex flex-col flex-1 shrink-0 justify-center items-center max-w-screen-xl;
  }
  .leading-relaxed {
    @apply !text-gray-400;
  }
  .slick-slide {
    @apply !box-border !h-[400px];
  }
  .slick-slide div {
    @apply !flex flex-col !h-[400px] w-full;
  }
  .slick-list {
    @apply !relative !block overflow-hidden !w-full gap-4;
  }
  .slick-track {
    @apply !flex flex-row flex-nowrap !gap-4 h-[400px] items-stretch;
  }
}

@layer components {
  ::-webkit-scrollbar {
    @apply border-l border-black !max-w-4;
  }
  ::-webkit-scrollbar-track {
    @apply bg-background;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-900 rounded;
  }
}
