@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --primary: 326, 27%, 50%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 83, 37%, 63%;

    --accent: 24 66% 58%;

    --destructive: 54, 23%, 67%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground flex flex-col items-center;
  }
  .content {
    @apply flex flex-col flex-1 shrink-0 justify-center items-center max-w-screen-xl;
  }
  .leading-relaxed {
    @apply !text-gray-400;
  }
}
